<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }
        
        .column {
            padding: 10px;
        }
        
        p {
            font-size: large;
        }
    </style>
</head>

<body>
    <div class="big">
        <h1>12th opportunities</h1>
        <p>Tech, B.E, B.Sc, MBBS and BDS are the most popular courses after 12th science. B.Com, BBA and several other commerce courses are available for students. B.A. is the most popular course among arts stream students. Apart from these, several UG courses
            after Class 12 are available for all stream students.<br> Students who have completed Class 12 or appearing for Class 12 exams must be looking for the best courses after Class 12. They need proper guidance regarding eligibility, admission
            process, scope and other factors for choosing the best course after the 12th class. Besides, they should also consider their interest before selecting a course after the 12th.</p>
    </div>
    <div>
        <table border="1px">
            <tr>
                <th>S.no</th>
                <th>Higher Studies</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Diplamo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Engineering</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Aeronactical</td>
            </tr>
            <tr>
                <td>4</td>
                <td>MBBS</td>
            </tr>
        </table>
    </div>
    <div class="bgimg">
        <h2>An education loan is a sum of money borrowed to finance post-secondary education or higher education-related expenses. Education loans are intended to cover the cost of tuition, books and supplies, and living expenses while the borrower is in
            the process of pursuing a degree.</h2>
    </div>


    <div class="grid-container">
        <div class="column">
            <h2 style="background-color: azure;">Diploma Loan Detials</h2>
            <h3 style="background-color: beige;">Any student can avail of an education loan for a diploma course in India from private banks, public banks, and Non-Banking Financial Companies (NBFCs). Loans for diploma programmes are available at low-interest rates as compared to a graduate
                or a postgraduate degree. Students can select industry-related courses and enrol in interested academic institutions to acquire pertinent skills and gain employment in the related sector. The approval and loan disbursement process for
                these short-term programmes are very quick and has fewer formalities attached to them. To know more about education loans for a diploma course in India, keep reading this blog.</h3>
            <h4 style="background-color: beige;">Type of Education Loan</h4>
            <p>Education Loans for Diploma Programmes</p>

            <h4 style="background-color: beige;">Eligible Diploma Programmes</h4>

            <p>
                Diploma Courses after Class 10.Diploma Courses after Class 12.Graduate Diploma CoursesPostgraduate Diploma Courses
            </p>
            <h4 style="background-color: beige;">Banks Offering Loans</h4>
            <p>PNB; SBI; HDFC; Bank of Baroda</p>
            <h4 style="background-color: beige;">NBFCs offering Loans</h4>
            <p>HDFC Credila; Avanse; InCred; Auxilo</p>
            <h1>Diploma opportunities</h1>
            <p>Students can work in the various fields of engineering such as <u> civil, mechanical, electrical, computer science, electronics and communication, aerospace, and many </u> more. Students also have the option to go for higher studies and pursue
                master's courses like B. Tech, B.E and B.Sc.</p>
        </div>
        <div class="column1">
            <img src="https://i.insider.com/5d24ab4d21a86114000e6df5?width=700" width="700" height="700">
        </div>
    </div>

    <div>
        <div class="column">
            <h1>Engineering Loan Details</h1>
            <h3 style="background-color: burlywood;">An engineering education loan is a sum of money borrowed to finance higher education-related expenses while pursuing a BTech or BE degree. These loans cover the cost of tuition, books & supplies, and living expenses while the student is in
                the process of pursuing a degree. Education loans are of different types.<br>The applicant must apply for an education loan with a co-applicant. The co-applicant can be a parent, guardian or spouse in case the applicant is married. Interest
                rate is low if the amount is less than INR 4 lakh. Interest rates increase with the amount being borrowed.</h3>
            <h1>Engineering loan imortants points</h1>
            <p>Indian students between the ages of 16 years and 35 years can avail an education loan from a registered lender. These can be for pursuing graduate, post graduate, or diploma courses in several engineering branches. To do so, the applicant
                must have a confirmed admission (with document proof) in a university or a college recognized by the UGC, AICTE, and other such boards. The applicant must apply for an education loan with a co-applicant. The co-applicant can be a parent,
                guardian or spouse in case the applicant is married. Interest rate is low if the amount is less than INR 4 lakh. Interest rates increase with the amount being borrowed. Also, the education loan interest rate will vary as per the bank and
                is subject to frequent changes. Many banks offer concessions in interest rates for female students who have secured admission to recognized engineering colleges. Most banks also do not demand security for education loan amounts up to INR
                4 lakh. However, for amounts in the range of INR 10 lakh to INR 30 lakh and above, documents of assets like gold and houses can be pledged as security.</p>

            <table border="1px">
                <tr>
                    <th>Name of the Bank</th>
                    <th>Processing Fees</th>
                </tr>
                <tr>
                    <td>PNB</td>
                    <td>1% of Loan Amount</td>
                </tr>
                <tr>
                    <td>SBI</td>
                    <td>Up to Rs.10,000</td>
                </tr>
                <tr>
                    <td>Axis Bank</td>
                    <td>Nil to Rs.15,000 + GST</td>
                </tr>
                <tr>
                    <td>Bank of Baroda</td>
                    <td>1% of loan amount up to Rs.10,000</td>
                </tr>
            </table>

            <h1>Engineering opportunities</h1>
            <p>Engineers use their skills and knowledge to solve problems and create important structures, machines and processes. Learning the pros and cons of working in this field can help you determine if it's the right career for you. It can also help
                you develop the necessary skills for success in this position. In this article, we describe what an engineer does and provide 14 pros and cons of being an engineer to help you determine how this position aligns with your career goals.</p>
        </div>
    </div>
</body>

</html>